// ===================
// Categores
// ===================
#category-selector{
	text-align: center;
	background: #efefef;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: @gutter;
	margin-bottom: @gutter;

	form{
		border: 1px solid #ccc;
		background: @white;
		padding: 15px;
		float: right;
		padding: 5px;

		input,textarea{
			margin-bottom: 0px;
			margin-right: @gutter/2;
		}
	}

	#category-selector-list{
		display: inline;
		div{
			display: inline;
			margin: 0 @gutter/4;
			position: relative;
		}
	}

	@media (max-width: @screen-xs-max){
		padding-top: 5px;

		hr{
			margin: 5px 0;
		}
	}

	a.select{
		&:link,&:visited,&:focus{
			display: inline-block;
			border: 1px solid @orange;
			padding: 5px;
			border-radius: 3px;
			margin-bottom: 5px;
			position: relative;
			outline: 0;
		}
		
		&:hover{
			text-decoration: none;
			outline: 0;
			background: @orange;
			color: @white;

			@media (max-width: @screen-xs-max){
				background: none;
				color: @orange;
			}
		}

		&:active{
			text-decoration: none;
			outline: 0;
			background: @orange;
			color: @white;
		}

		&:focus{
			
		}

		&.active{
			background: @orange;
			color: @white;
			text-decoration: none;
			top: -2px;
		}

		@media (max-width: @screen-xs-max){
			padding: 3px;
			font-size: 11px;
		}
	}

	i.fa-plus{
		font-size: 7px;
	}

	.delete{
		top: -15px;
		right: -15px;
		padding: 5px;
		height: 25px;
		width: 25px;
		font-size: 12px;

		&:hover{
			top: -16px;
		}
	}
}


