// ===================
//  Edit buttons
// ===================
.hideme{
	display: none;
}
#toggle-edit-mode{
	margin-top: @gutter;
	float: right;
}
.edit,.delete,.edit-done,.edit-save{
	border: 1px solid @white;
	color: @white;
	border-radius: 50%;
	padding: 10px;
	height: 40px;
	width: 40px;
	position: absolute;
	top: -5px;
	right: 0;
	text-align: center;
	z-index: 2;

	&:hover{
		top: -6px;
		color: @white;
		box-shadow: 0px 1px 1px #000;
	}
}

.edit,.edit-save{
	background: @blue;
	right: 50px;
}

.edit-save{
	display: none;
}

.edit-done{
	display: none;
	background: @red;
}

.delete{
	background: @red;
}

// ===================
// Edit buttons - editing state
// ===================

.editing{
	.edit-done,.edit-save{
		display: block;
	}

	.edit{
		display: none;
	}

	.delete{
		display: none;
	}
}

.disabled{
	opacity: .5;
	cursor: not-allowed;
}

.view-mode{
	.edit,.delete,.edit-save,.edit-done,.entry-form,#add-category-form{
		display: none !important;
	}
}