#portfolio-app{
	margin: 50px auto;
}



// ===================
// Portfolio Entry container
// ===================

// Default Mode
.portfolio-container{
	.entry-form{
		display: none;
	}
	&.hideme{
		display: none;
	}

	// Edit Links
	.edit,.delete,.edit-done,.edit-save{
		color: @white;
		border-radius: 50%;
		padding: 10px;
		height: 40px;
		width: 40px;
		position: absolute;
		top: -5px;
		right: 0;
		text-align: center;
		z-index: 2;
		&:hover{
			top: -6px;
			box-shadow: 0px 1px 1px #000;
		}
	}


	.edit,.edit-save{
		right: 50px;
	}
}

// Editing Mode
.editing .portfolio-container{
	
	.entry-form{
		display: block;
		top: 0px;
		position: absolute;
		z-index: 1;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#262626+0,383838+100&0.9+0,0.9+100 */
		background: -moz-linear-gradient(top,  rgba(38,38,38,0.9) 0%, rgba(56,56,56,0.9) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  rgba(38,38,38,0.9) 0%,rgba(56,56,56,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  rgba(38,38,38,0.9) 0%,rgba(56,56,56,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6262626', endColorstr='#e6383838',GradientType=0 ); /* IE6-9 */
	}

	.edit-done,.edit-save{
		display: block;

	}

	.edit{
		display: none;
	}

	.delete{
		display: none;
	}
}

// ===================
// Editing Form
// ===================
form.entry-form{
	border: 1px solid #ccc;
	padding: 15px;
	input,textarea{
		width: 100%;
		margin-bottom: 15px;
	}
}

form#add-entry-form{
	display: block;
}

// ===================
// Portfolio entry details
// ===================
.portfolio-piece{

	border: 1px solid #ccc;
	border-bottom: 5px solid #333;
	position: relative;
	overflow: hidden;
	height: 250px;
	margin-bottom: 50px;

	@media (max-width: @screen-xs-max) {
		background: #333;
		height: auto;
		margin-bottom: 50px;
	}

	img{
		width: 100%;
		height: auto;
		transition: all .2s;

		@media (max-width: @screen-xs-max) {
			width: 140%;
			margin-left: -10%;
		}
					
	}

	.entryText{
		position: absolute;
		color: @white;
		top: 0px;
		width: 100%;
		padding: 20px 60px;
		box-sizing: border-box;

		h3{
			line-height: 17px;
			margin-bottom: @gutter/2; 
			small{
				color: @white;
			}
		}

		@media (max-width: @screen-xs-max) {
			padding: 10px 20px;

			h3{
				margin: 0px;
				font-size: 14px;
				color: @white;	
			}

			p{
				font-size: 12px;
			}
		}

		h3{
			display: none;
			color: white;
			margin: 0 0 5px 0;
		}

		p{
			display: none;
			transitiona: all .3s;
			margin: 0 0 5px 0;
			text-align: justify;

			a{
				color: @white;
				display: inline-block;
				border: 1px solid #ffffff;
				border-radius: 5px;
				padding: 10px;

				&:hover{
					background: @white;
					color: @orange;
					text-decoration: none;
				}
			}
		}
	}

	&:hover{
		img{
			filter: blur(5px) brightness(60%);
			-moz-filter: blur(5px) brightness(60%);
			-webkit-filter: blur(5px) brightness(60%);
			-webkit-transform: scale(1.2);
		}

		h3,p{
			display: block;
		}
	}
}


