/* Preboot.less
 * Variables and mixins to pre-ignite any new web development project
 * ------------------------------------------------------------------ */

// image functions
.bkgImg(@bkgColor:"", @img:"", @horizontal:"", @vertical:"", @repeat:"") {
  background: @bkgColor url("@{baseImgPath}@{img}") @horizontal @vertical @repeat;
}

// image background replacement
.imgBkgReplace(@bkgColor:"", @img:"", @horizontal:"", @vertical:"", @repeat:"", @imgWidth:"", @imgHeight:""){
  background: @bkgColor url("@{baseImgPath}@{img}") @horizontal @vertical @repeat;
  text-indent:-99999px;
  display:block;
  width:@imgWidth;
  height:@imgHeight;
}

.bkgImgOnly(@img:""){
  background-image: url("@{baseImgPath}@{img}");
}

.clearBackground {
  background: transparent none;
}

// Clearfix for clearing floats like a boss h5bp.com/q
.clearfix {
  zoom: 1;
  &:before, &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

.hiddenClearfix{
	overflow: hidden;
	height: 100%;
}

.inlineBlock {
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
}

// Center-align a block level element
.centerBlock {
  display: block;
  margin: 0 auto;
}

// Sizing shortcuts
.column(@width,@float,@margin,@padding){
	width: @width;
	float: @float;
	margin: @margin;
	padding: @padding;
}

.size(@width: 5px, @height: 5px) {
  height: @height;
  width: @width;
}

.square(@size: 5px) {
  .size(@size, @size);
}

.minHeight(@height){
  height:auto !important;
  height:@height;
  min-height:@height;
}

.minWidth(@width){
  width:auto !important;
  width:@width;
  min-width:@width;
}

// Input placeholder text
.placeholder(@color: @secondaryGray) {
  :-moz-placeholder {
    color: @color;
  }
  ::-webkit-input-placeholder {
    color: @color;
  }
}

// Font Stacks
#font {
  .size(@size: @baseSize,@lineHeight: @baseLine) {
    font-size: @size;
    line-height: @lineHeight;
  }
  .base(@size: @baseSize,@family: @baseFont,@lineHeight: @baseLine){
    font-weight: normal;    
    font: @size @family;
	line-height: @lineHeight;
  }
}

// Border Radius
.borderRadius(@radius: 6px) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

.borderRadiusTop(@radius: 6px) {
  -webkit-border-radius: @radius @radius 0 0;
     -moz-border-radius: @radius @radius 0 0;
          border-radius: @radius @radius 0 0;
}

.borderRadiusBottom(@radius: 6px) {
  -webkit-border-radius: 0 0 @radius @radius;
     -moz-border-radius: 0 0 @radius @radius;
          border-radius: 0 0 @radius @radius;
}

.borderRadiusTopLeft(@radius: 6px) {
  -webkit-border-radius: @radius 0 0 0;
     -moz-border-radius: @radius 0 0 0;
          border-radius: @radius 0 0 0;
}

.borderRadiusBottomRight(@radius: 6px) {
  -webkit-border-radius: 0 0 @radius 0;
     -moz-border-radius: 0 0 @radius 0;
          border-radius: 0 0 @radius 0;
}

// Drop shadows
.boxShadow(@shadow: 0 1px 3px rgba(0,0,0,.25)) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}

.innerBoxShadow(@shadow: 0 0 5px darken(@primaryColor, 10%))  {
  -webkit-box-shadow: inset @shadow;
  -moz-box-shadow: inset @shadow;
  box-shadow: inset @shadow;
}

// Add an alphatransparency value to any background or border color (via Elyse Holladay)
#translucent {
  .background(@color: @primaryColor, @alpha: .5) {
    background-color: hsla(hue(@color), saturation(@color), lightness(@color), @alpha);
  }
  .border(@color: @primaryColor, @alpha: .5) {
    border-color: hsla(hue(@color), saturation(@color), lightness(@color), @alpha);
    background-clip: padding-box;
  }
}

// Gradients
#gradient {
  .horizontal (@startColor: #555, @endColor: #333) {
    background-color: @endColor;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, right top, from(@startColor), to(@endColor)); // Konqueror
    background-image: -moz-linear-gradient(left, @startColor, @endColor); // FF 3.6+
    background-image: -ms-linear-gradient(left, @startColor, @endColor); // IE10
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, @startColor), color-stop(100%, @endColor)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(left, @startColor, @endColor); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(left, @startColor, @endColor); // Opera 11.10
    background-image: linear-gradient(left, @startColor, @endColor); // Le standard
  }
  .vertical (@startColor: #555, @endColor: #333) {
    background-color: @endColor;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(@startColor), to(@endColor)); // Konqueror
    background-image: -moz-linear-gradient(@startColor, @endColor); // FF 3.6+
    background-image: -ms-linear-gradient(@startColor, @endColor); // IE10
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @startColor), color-stop(100%, @endColor)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(@startColor, @endColor); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(@startColor, @endColor); // Opera 11.10
    background-image: linear-gradient(@startColor, @endColor); // The standard
  }
  .directional (@startColor: #555, @endColor: #333, @deg: 45deg) {
    background-color: @endColor;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(@deg, @startColor, @endColor); // FF 3.6+
    background-image: -ms-linear-gradient(@deg, @startColor, @endColor); // IE10
    background-image: -webkit-linear-gradient(@deg, @startColor, @endColor); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(@deg, @startColor, @endColor); // Opera 11.10
    background-image: linear-gradient(@deg, @startColor, @endColor); // The standard
  }
  .verticalThreeColors(@startColor: #00b3ee, @midColor: #7a43b6, @colorStop: 50%, @endColor: #c3325f) {
    background-color: @endColor;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), color-stop(@colorStop, @midColor), to(@endColor));
    background-image: -webkit-linear-gradient(@startColor, @midColor @colorStop, @endColor);
    background-image: -moz-linear-gradient(@startColor, @midColor @colorStop, @endColor);
    background-image: -ms-linear-gradient(@startColor, @midColor @colorStop, @endColor);
    background-image: -o-linear-gradient(@startColor, @midColor @colorStop, @endColor);
    background-image: linear-gradient(@startColor, @midColor @colorStop, @endColor);
  }
}

// Opacity
.opacity(@opacity: 100) {
  filter: e(%("alpha(opacity=%d)", @opacity));
  -khtml-opacity: @opacity / 100;
    -moz-opacity: @opacity / 100;
         opacity: @opacity / 100;
}


// Transitions
.transition(@transition) {
  -webkit-transition: @transition;
     -moz-transition: @transition;
          transition: @transition;
}

.transform(@transform){
  -webkit-transform: @transform;
  -moz-transform: @transform;
  -o-transform: @transform;
  transform: @transform;
} 


// =========================
// HTML5 Display Definitions (HTML5 BP)
// =========================
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

// =========================
// Typography (HTML5 BP)
// =========================
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

// =========================
// Forms (HTML5 BP)
// =========================
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


// =========================
// Resets (HTML5 BP)
// =========================
td { vertical-align: top; }
figure { margin: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
/* Correct overflow not hidden in IE9 */
svg:not(:root) { overflow: hidden; }

// =========================
// Rests (YUI Reset (slightly modified))
// =========================
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img { border:0;}
address,caption,cite,code,dfn,th,var {font-style:normal;font-weight:normal;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
q:before,q:after {content:'';}
abbr,acronym { border:0;}

