// =================
// Typography
// =================
body{
	#font > .base();
	color: @fontColor;
}

abbr{
	border-bottom: 1px dotted @fontColor;
}

h1, h2, h3, h4, h5, h6 {
	color: #000;
}

h1{#font > .size(50px,@baseLine*1.1)}
h2{#font > .size(28px,@baseLine*1.1)}
h3{#font > .size(20px,@baseLine*1.1)}
h4{#font > .size(16px,@baseLine)}
h5{#font > .size(14px,@baseLine)}
h6{#font > .size(13px,@baseLine)}

// Links
a:link{ color: @primaryColor; font-style: italic; text-decoration: none;}
a:visited { color: @primaryColor; }
a:hover { color: @primaryColor; text-decoration: underline;}
a:focus { outline: thin dotted; }
/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }

ul, ol, p{
	margin-bottom: 1em;
	line-height: 1.5em;
}

hr{
	margin: @gutter*1.5 0;
}

// Lists
ul, ol {padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; } 

// Forms
input,input[type=text],input.text,textarea{
	#font > .base();
	color: @fontColor;
	border: 1px solid #e5dfd3;
	padding: 5px;
	.borderRadius(0px);
	margin-bottom: 15px;
	-webkit-appearance: none;
	outline: none;
	border: none;
	border-bottom: 1px solid #ccc;


	&:focus{
		border-bottom: 1px solid @fontColor;
	}
}

input[type=text]:focus,input.text:focus,textarea:focus{
	-webkit-appearance: none;
	box-shadow: none;
}

input[type=submit],input.submit{
	#font > .base();
	color: @white;
	background: @primaryColor;
	cursor: pointer;
	margin-left: 5px;
	.borderRadius(3px);

}

img.max-width{
	max-width: 100%;
	height: auto;
	border: 1px solid #ccc;
}