// ================
// VARIABLES
// ================
// Text sizes
@baseSize: 15px;
@baseLine:  1.25em; 
@baseFont: ~"Lato, Tahoma, arial, sans-serif";

@orange: #d55f00;
@orangeLight: #e9730e;
@orangeDark: #662a03;
@blue: #337ab7;
@red: #d50000;

@green: #09ad00;

// Colors
@fontColor: #333;
@primaryColor: #d55f00;
@secondaryColor: #e9730e;
@tertiaryColor: #662a03;
@white: #ffffff;
@black: #121212;

@border-radius: 3px;
@gutter: 20px;

@screen-md-max: 1200px;
@screen-sm-max: 992px;
@screen-xs-max: 768px;